body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

p {
    color: darkblue;
}

.error {
    color: darkred;
    font-weight: bold;
}

.player {
    border: 1px solid black;
    background-color: lightblue;
    padding: 4px;
    margin-right: 8px;
}

.answer {
    border: 1px solid gray;
    padding: 4px;
}

.selectable {
    cursor: pointer;
}

.selectable:hover:not(.selected) {
    background-color: lightgray;
}

.selected {
    background-color: gold;
    border: 2px solid goldenrod;
}

.correct {
    background-color: lightgreen;
    border: 2px solid green;
}

.wrong {
    background-color: lightpink;
    border: 2px solid darksalmon;
}

.delay {
    opacity: 0;
    animation: fadeIn 0.25s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}